.idea
.vscode
ikomia.egg-info
build
Build
dist
version.py
__pycache__
ikomia/__pycache__
ikomia/.idea
ikomia/.env
ikomia/core/__pycache__
ikomia/core/pycore.so*
ikomia.dataio/__pycache__
ikomia/dataio/pydataio.so*
ikomia/dataprocess/__pycache__
ikomia/dataprocess/pydataprocess.so*
ikomia/dnn/__pycache__
ikomia/dnn/torch/__pycache__
ikomia/utils/__pycache__
ikomia/utils/ik.py
ikomia/utils/autocomplete_local.cache
ikomia/utils/autocomplete_online.cache
ikomia/utils/pyutils.so*
ikomia/lib
ikomia/*.so
ikomia/opencv/*.so
ikomia/core/config.yaml
doc/build
doc/_build
local_test.py
tests/.coverage*
