IkomiaApi.pro.user
Python/.idea
Build/
LocalSettings.pri
Doc/API/C++/html
Doc/API/C++/latex
Doc/API/Python/build
Doc/API/Python/source/_build
Doc/API/html
Doc/API/latex
Doc/Internal/html
Doc/Internal/latex
